#container {
    display:flex;
    flex-wrap:nowrap;
    margin:0px;
    font-family:monospace;
    background-color: rgb(117, 131, 131);
    
}
#navbar {
    flex-flow:column nowrap;
    justify-content:stretch ;
    width:40%;
    margin-left:20px;
    margin-top:0px;
    padding-left:0px;
    padding-right:5px;
    margin-right:40px;
    border-right:2px solid rgb(73, 54, 54);
    box-sizing: border-box;
}
@media (max-width:400px) {
    #container{
        display: flex;
        flex-flow:column wrap;
    }
    #navbar {
        border-right:unset;
    }
}
ul {
    list-style: none;
    padding:.5em;
    margin-left:10px;
}
#navbar li {
    padding:.5em .5em .5em 0;
    border-top:1px solid gray;
    
}
.nav-link a {
    text-decoration:none;
    color:rgb(221, 86, 86);
    
    
}
/* changing headers font color */
main section h2 {
    color:rgb(221, 86, 86);
}
#header {
    color:rgb(221, 86, 86);
}
/* adding counters to content */
#main-doc {
    counter-reset: mag;
}
.main-section {
    position:relative;
    
}
.main-section::before {
    position: absolute;
    content: counter(mag);
    counter-increment:mag;
    width:25px;
    height:25px;
    background-color:rgb(33, 58, 58);
    color:rgb(221, 86, 86);
    margin-left:-30px;
    border-radius: 50%;
    display:flex;
    justify-content: center ;
    align-items: center;
}
/* counters to list */
#navbar {
    position:relative;
    counter-reset: mag2;
}
/* to separate counters from text
i pushed ul to right with margin left 
and increased left margin to before -30 */
li::before {
    position: absolute;
    counter-increment: mag2;
    content: counter(mag2);
    margin-left:-30px;
    margin-top:-3px;
    width: 20px;
    height: 20px;
    background-color: rgb(33, 58, 58);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(221, 86, 86);
}